header img{
    margin: 22px;
}

header{
    background-color: gold;
}

body {
    font-family: sans-serif;
    margin: 15px;
    font-size: 30px;
}
h1{
    font-size: 45px;
    color: gold;
}
footer p{
    background-color: rgb(82, 247, 175);
}
nav{
    background-color: rgb(84, 214, 164);
    padding: 20px;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin: 27px;
}
main p{
    background-color: magenta;
}
